<html>
	<head>
		<title>TestPage</title>
	
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
		
	</head>
	
	<body>
	<div class="container">
	
	
	
	<h1><strong>Create</strong></h1>
		

		<input type="hidden" id="q_num" name="q_num" value="0">
		

	<div class="row">
		<div class="col-lg-6 col-md-6">
			<!-- JSON入力フィールド -->
			<form action="/check" method="post" target="setumon" onsubmit="return chkForm(this)" name="form">
				<fieldset>
					<div id="q_query"></div>
					<!--　問題番号等 -->
					<p><label>問題番号</label></p>
					<input type="text" id="q_id" name="q_id" class="form-control">
					
					<p><label>問題</label></p>
					<textarea cols="40" rows="2" id="q_sentence" name="q_sentence"  class="form-control"></textarea>
					
					<p><label>フィードバックコメント</label></p>
					<textarea cols="40" rows="2" id="q_feedback" name="q_feedback"  class="form-control"></textarea>
					
					<p><label>クエリ入力</label></p>
	
					<input type="button" value="add query" id="btn_q_0" class="btn_q_add btn-default btn-sm"><br>
					<ul style="list-style:none;" id="query" class="query_list">
						<li><input type="text" id="query_0" name="query_0" class="form-control"></li>
					</ul>
					
					<p><label>模範解答</label></p>
					<!-- コレクション名 -->
						<input type="button" value="add collection" id="btn_c_add" class="btn-default btn-sm">
						<br> 
						<ul style="list-style:none;" id="collection_list"  >
							<li>
						
				   				<input type="text" id="collection_list_0" name="collection_list_0" placeholder="Collection Name" class="form-control">
				   			
				   			</li> 		
				   		 	<li><br>		  
							
								<input type="button" value="add document" id="btn_d_0" class="btn_d_add btn-default btn-sm"><br>
								<ul style="list-style:none;" id="document_0" class="document_list">
									<li><textarea cols="40" rows="4"  id="document_0_0" name="document_0_0" placeholder="Document" class="form-control"></textarea></li>
								</ul>
							</li>
						</ul>
					<!-- 解答送信ボタン -->
					  <!-- <input type="submit" value="Submit">  --> 
				<button type="submit"  class="btn-primary btn-lg ">
				<span class="glyphicon glyphicon-ok"></span> Submit</button> 
					
				</fieldset>
			</form>
		</div>




		<div class="col-lg-6 col-md-6">
		
		<!--　フィードバックフィールド -->
			<!-- クライアント側 -->
			<div id = "error"></div>
			<!-- サーバー側 -->
			<iframe id="setumon" name="setumon" src="/setumon" width="500" height="400" scrolling="auto" frameborder="1" >
			</iframe>
		</div>

			
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
	<script src="/javascripts/c_jquery.js"></script>
	
	</div><!-- row END -->
	</div><!-- containerEND -->
	
	</body>
</html>
