<h1><%= title %></h1>
<p><a href="/form">New Entry</a></p>
<p><a href="/oumu">Oumu</a></p>
<p><a href="/main">Main</a></p>
<ul>
<% items.forEach(function(item){ %>
  <li><%= item.text %></li>
<% }) %>


 LuckyNumber is <%= number %>
</ul>sss