<html>
	<head>
		<title>TestPage</title>
		
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<script src="/javascripts/script.js"></script>
		<script src="/javascripts/jquery.js"></script>
		
	</head>
	
	<body>
	
	<h1>Sample</h1>

<!-- Start ボタン -->
<input id="start" type="button" value="START">

<!-- 問題表示フィールド -->

   <div id="mondai">
   てすと
　　	</div>

<br>
<hr>
<br>


<!-- JSON入力フィールド サンプル -->
<form method="POST" action="/answer" target="comment">
 <fieldset>
   <!--　問題番号等 -->
	<input type="hidden" id="q_id" name="q_id" value="0">
	<input type="hidden" id="q_result" name="q_result" value="">
	<input type="hidden" id="q_query" name="q_query" value="">
  
  <p><label>Input JSON</label>
  <br>
  <input type="text" name="answer"></p>
  <!-- 解答送信ボタン -->
  <input type="submit" value="Submit">
  </fieldset>
</form>

<br>
<hr>
<br>

<!-- JSON入力フィールド -->
<form method="POST" action="/answer" target="comment">
   
   <!-- コレクション名 -->
   <label for="collection_name">コレクション名</label>
   <input type="button" value="add collection" id="btn_c_add">
   <br> 
   <input type="text" id="collection_name" name="collection_name">
   <ul style="list-style:none;">
		<li>
			ドキュメント
			<input type="button" value="add document" id="btn_d_add"><br>
			<ul id="document_list">
				<li><input type="text" name="document_list_0"></li>
			</ul>	
		</li>
   </ul>
   
  <p><label>Input JSON</label>
  <br>
  <input type="text" name="answer"></p>
  <!-- 解答送信ボタン -->
  <input type="submit" value="Submit">
 
</form>

<br>
<hr>
<br>


<!-- ヒント表示　ボタン -->
	<input id="test_button" type="button" value="Test">
<!-- ヒント表示フィールド -->
	<p><textarea id="test" cols="40" rows="10"></textarea></p>
<br>
<hr>
<br>

<!--　フィードバックフィールド -->
	<iframe name="comment" src="/comment" width="400" height="100"scrolling="auto" >
	</iframe>
	
<!-- 	
	<p><textarea id="feedback" cols="40" rows="10">
	<%= comment %></textarea></p>
 -->
	
	<body>
</html>
